<ion-modal-view>
  <div class="bar bar-header bar-light">
            <button class="button ion-ios-arrow-back fontsize"ng-click="gotoCoffeeShop1()"></button>
              <h1 class="title fontcsize">Comment</h1>
   </div>
<ion-scroll zooming="false" direction="y" style="width: auto; height: 500px">
  <ion-content>
      <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
<div class="list">

  <a class="item item-icon" >
    <h2 class="fontcsize">Score</h2>
    <div class="row">
       <div class="col col-33"><i class="icon ion-sad-outline fontsize1">  </i>
       <div class="row row-33 fontcsize">Bad</div>
       </div>
        <div class="col col-33"><i class="icon ion-happy-outline fontsize1"></i>
        <div class="row row-33 fontcsize">Good</div>
       </div>
     </div>
    
    
  </a>

  <a class="item item-icon-right " >
   <h2 class="fontcsize">Hilight</h2>
    <div class="list list-inset">
  <label class="item item-input">
    <input  class="fontcsize" type="text" placeholder="Hilight">
  </label>
    </div>
  </a>

   <a class="item item-icon-right fontcsize" >
   
    <h2 class="fontcsize">Detail</h2>
    <div class="list list-inset">
  <label class="item item-input">
    <input  class="fontcsize" type="text" placeholder="Detail">
  </label>
    </div>
  </a>

   
   

<button class="button button-block button-positive" ng-click="gotoCoffeeShop1()">
  Save
</button>
               </ion-content>
          </ion-scroll>
    
</ion-modal-view>