<ion-modal-view>
 <div class="bar bar-header bar-light">
            <button class="button ion-ios-arrow-back fontsize"ng-click="gotoHome()"></button>
              <h1 class="title fontcsize">Cupcoin</h1>
           
 </div>
 <ion-scroll zooming="false" direction="y" style="width: auto; height: 500px">
  <ion-content>
    <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
      <div class="row">
       <div class="col col-100">
       </div>
     </div>
     
    <div class="row margin">
                <div class="col col-33"></div>
                <div class="col col-33"><img src="img/coffee1.jpg" width="100%">
                </div>
                <div class="col col-33">
                  
                </div>



            </div>
            <class="list">

  <a class="item item-icon-right fontcsize background" >
    History
    

  </a>
  <a class="item item-icon-right fontcsize " >
   <div class="row">
    <div class="col col 33">Send </div> 
    <div class="col col 33">1</div>
    <i class="icon ion-coffee"></i>
     </div>

  </a>
   <a class="item item-icon-right fontcsize " >
   <div class="row">
    <div class="col col 33">Recevier </div> 
    <div class="col col 33">2</div>
    <i class="icon ion-coffee"></i>
     </div>
  </a>
   <a class="item item-icon-right fontcsize " >
    <div class="row">
    <div class="col col 33">Send </div> 
    <div class="col col 33">1</div>
    <i class="icon ion-coffee"></i>
     </div>
  </a>
   <a class="item item-icon-right fontcsize " >
    <div class="row">
    <div class="col col 33">Recevier </div> 
    <div class="col col 33">1</div>
    <i class="icon ion-coffee"></i>
     </div>
  </a>
   <a class="item item-icon-right fontcsize">
   <div class="row">
    <div class="col col 33">Send </div> 
    <div class="col col 33">1</div>
    <i class="icon ion-coffee"></i>
     </div>
  </a>
             </ion-content>
              </ion-scroll>
</ion-modal-view>
