<ion-modal-view>
  <div class="bar bar-header bar-light">
            <button class="button ion-ios-arrow-back fontsize"ng-click="gotoHistory()"></button>
              <h1 class="title fontcsize">Cart</h1>
  </div>
<ion-scroll zooming="false" direction="y" style="width: auto; height: 500px">
  <ion-content>
    <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
<div class="list">

  <a class="item item-icon-right background" >
    List Menu
  </a>

  <a class="item item-icon-right margin" >
   
    Hot Coffee  1
    
  </a>

   <a class="item item-icon-right" >
   
   Total  1
  
  </a>

</div>
<button class="button button-block button-positive" ng-click="gotoAddFavorite()">
  Favorite
</button>
<button class="button button-block button-positive" ng-click="showAlert()">
   Submit
</button>
      </ion-content>
          </ion-scroll>
    
</ion-modal-view>