<ion-modal-view>
  <div class="bar bar-header bar-light">
            <button class="button ion-ios-arrow-back fontsize"ng-click="gotoMenuShop()"></button>
              <h1 class="title fontcsize">Drink</h1>
           
            <button class="button ion-coffee fontsize"ng-click="gotoCart()"></button>
  
</div>
<ion-scroll zooming="false" direction="y" style="width: auto; height: 500px">
  <ion-content>
    <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
 <div class="list">

    <a class="item item-thumbnail-left item-icon1 item-icon-right" >
      <img src="img/coffee1.jpg">
      
      <h2 class="fontcsize">Hot Coffee</h2> 
        <p  class="fontcsize">1 <i class="icon1 ion-coffee"></i></p>
        <i class="icon ion-ios-arrow-right" ng-click="gotoHotCoffee()"></i>
  </a>
   


</div>
          </ion-content>
          </ion-scroll>
    
</ion-modal-view>