<ion-modal-view>
    < <div class="bar bar-header bar-light">
            <button class="button ion-ios-arrow-back fontsize"ng-click="gotoProfile()"></button>
              <h1 class="title fontcsize">Profile</h1>
              <button class="button ion-checkmark-round fontsize"ng-click="gotoProfile()"></button></a>
  
</div>
        
            
   
    <ion-scroll zooming="false" direction="y" style="width: auto; height: 500px">
        <ion-content>
             <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>

            <div class="row">
                <div class="col col-33"></div>
                <div class="col col-33"><img src="img/adam.jpg" width="100%">
                </div>
                <div class="col col-33"></div>



            </div>

            <a class="item item-icon-right">
     <i class="icon ion-ios-camera-outline"></i>
     </a>
            <div class="list list-inset">
                <label class="item item-input ">
    <input class="fontcsize" type="text" placeholder="Firstname"ng-model="loginData.firstname">
  </label>
                <label class="item item-input ">
    <input class="fontcsize" type="text" placeholder="Lastname"ng-model="loginData.lastname">
  </label>
                <label class="item item-input ">
    <input class="fontcsize" type="text" placeholder="E-mail"ng-model="loginData.email">
  </label>
                <label class="item item-input ">
    <input class="fontcsize" type="text" placeholder="Telephone"ng-model="loginData.telephone">
  </label>
                <label class="item item-input ">
    <input class="fontcsize" type="text" placeholder="Address"ng-model="loginData.address">
  </label>
            </div>
           
        </ion-content>
    </ion-scroll>

</ion-modal-view>