<ion-modal-view>
  <div class="bar bar-header bar-light">
            <button class="button ion-ios-arrow-back fontsize"ng-click="gotoCoffeeShop1()"></button>
              <h1 class="title fontcsize">Menu Shop</h1>
           
            <button class="button ion-coffee fontsize"ng-click="gotoCart()"></button>
  
</div>
      
     
<ion-scroll zooming="false" direction="y" style="width: auto; height: 500px">
  <ion-content>
    <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
  <div class="list">

  <a class="item item-icon-right fontcsize" >
   
    Desert
    <i class="icon ion-ios-arrow-right" ></i>
  </a>

   <a class="item item-icon-right fontcsize" >
   
    Drink
    <i class="icon ion-ios-arrow-right" ng-click="gotoDrink()"></i>
  </a>

    <a class="item item-icon-right fontcsize" >
   
    Food
    <i class="icon ion-ios-arrow-right"></i>
  </a>

</div>
               </ion-content>
          </ion-scroll>
    
</ion-modal-view>