<ion-modal-view>
  <ion-header-bar>
    <h2>Near By</h2>
  </ion-header-bar>
  <ion-scroll zooming="false" direction="y" style="width: auto; height: 500px">
  <ion-content>
<class="list">

<a class="item item-icon-right fontcsize background" >
   
    Near By
    
  </a>

  <a class="item item-icon-right fontcsize" >
   
    CoffeeShop1
    <i class="icon ion-ios-arrow-right" ng-click="gotoCoffeeShop1()"></i>
  </a>

   <a class="item item-icon-right fontcsize" >
   
    CoffeeShop2
    <i class="icon ion-ios-arrow-right"></i>
  </a>

    <a class="item item-icon-right fontcsize" >
   
    CoffeeShop3
    <i class="icon ion-ios-arrow-right"></i>
  </a>

   <a class="item item-icon-right fontcsize" >
   
    CoffeeShop4
    <i class="icon ion-ios-arrow-right" ></i>
  </a>

   <a class="item item-icon-right fontcsize" >
   
    CoffeeShop5
    <i class="icon ion-ios-arrow-right"></i>
  </a>

    <a class="item item-icon-right fontcsize" >
   
    CoffeeShop6
    <i class="icon ion-ios-arrow-right"></i>
  </a>

   <a class="item item-icon-right fontcsize" >
   
    CoffeeShop7
    <i class="icon ion-ios-arrow-right" ></i>
  </a>

   <a class="item item-icon-right fontcsize" >
   
    CoffeeShop8
    <i class="icon ion-ios-arrow-right"></i>
  </a>

    <a class="item item-icon-right fontcsize" >
   
    CoffeeShop9
    <i class="icon ion-ios-arrow-right"></i>
  </a>

  <a class="item item-icon-right fontcsize" >
   
    CoffeeShop10
    <i class="icon ion-ios-arrow-right"></i>
  </a>

      </ion-content></ion-scroll>
    <div class="tabs tabs-icon-top">
  <a class="tab-item">
    <i class="icon ion-coffee" ng-click="gotoNearby()"></i>
    Coffee
  </a>
  <a class="tab-item">
    <i class="icon ion-android-person" ng-click="gotoProfile()"></i>
    Profile
  </a>
  <a class="tab-item">
    <i class="icon ion-ios-heart" ng-click="gotoFavorite()"></i>
    Favorites
  </a>
</div>
</ion-modal-view>
