<ion-modal-view>
  <ion-header-bar>
    <h2>Near By</h2>
  </ion-header-bar>
  <ion-scroll zooming="false" direction="y" style="width: auto; height: 500px">
  <ion-content>
<class="list">

<a class="item item-icon-right fontcsize background" >
   
    Near By
    
  </a>

  <a class="item item-icon-right fontcsize" >
   
   <div class="row">
    <div class="col">CoffeeShop1 </div> 
    <div class="col col 100">1 km</div>
    <i class="icon ion-ios-arrow-right" ng-click="gotoCoffeeShop1()"></i></div>
  </a>

   <a class="item item-icon-right fontcsize" >
   
    <div class="row">
    <div class="col">CoffeeShop2 </div> 
    <div class="col col 100">2 km</div>
    <i class="icon ion-ios-arrow-right"></i></div>
  </a>

    <a class="item item-icon-right fontcsize" >
   
    <div class="row">
    <div class="col">CoffeeShop3 </div> 
    <div class="col col 100">3 km</div>
    <i class="icon ion-ios-arrow-right"></i></div>
  </a>

   <a class="item item-icon-right fontcsize" >
   
     <div class="row">
    <div class="col">CoffeeShop4 </div> 
    <div class="col col 100">4 km</div>
    <i class="icon ion-ios-arrow-right"></i></div>
  </a>

   <a class="item item-icon-right fontcsize" >
   
     <div class="row">
    <div class="col">CoffeeShop5 </div> 
    <div class="col col 100">5 km</div>
    <i class="icon ion-ios-arrow-right"></i></div>
  
  </a>

    <a class="item item-icon-right fontcsize" >
   
    <div class="row">
    <div class="col">CoffeeShop6 </div> 
    <div class="col col 100">6 km</div>
    <i class="icon ion-ios-arrow-right"></i></div>
   
  </a>

   <a class="item item-icon-right fontcsize" >
   
    <div class="row">
    <div class="col">CoffeeShop7 </div> 
    <div class="col col 100">7 km</div>
    <i class="icon ion-ios-arrow-right"></i></div>
  </a>

   <a class="item item-icon-right fontcsize" >
   
   <div class="row">
    <div class="col">CoffeeShop8 </div> 
    <div class="col col 100">8 km</div>
    <i class="icon ion-ios-arrow-right"></i></div>
  </a>

    <a class="item item-icon-right fontcsize" >
   
   <div class="row">
    <div class="col">CoffeeShop9 </div> 
    <div class="col col 100">9 km</div>
    <i class="icon ion-ios-arrow-right"></i></div>
  </a>

  <a class="item item-icon-right fontcsize" >
   
    <div class="row">
    <div class="col">CoffeeShop10 </div> 
    <div class="col col 100">10 km</div>
    <i class="icon ion-ios-arrow-right"></i></div>
  </a>

      </ion-content></ion-scroll>
    <div class="tabs tabs-icon-top">
  <a class="tab-item">
    <i class="icon ion-coffee" ng-click="gotoNearby()"></i>
    Coffee
  </a>
  <a class="tab-item">
    <i class="icon ion-android-person" ng-click="gotoProfile()"></i>
    Profile
  </a>
  <a class="tab-item">
    <i class="icon ion-ios-heart" ng-click="gotoFavorite()"></i>
    Favorites
  </a>
</div>
</ion-modal-view>
