<ion-modal-view>
   <div class="bar bar-header bar-light">
            <button class="button ion-ios-arrow-back fontsize"ng-click="gotoHome()"></button>
              <h1 class="title fontcsize">News&Promotion</h1>
  
</div>
  <ion-scroll zooming="false" direction="y" style="width: auto; height: 500px">
  <ion-content>
 <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
      <div class="row">
       <div class="col col-100">
       </div>
     </div>
<div class="list">

    <a class="item item-thumbnail-left item-icon-right" >
      <img src="img/ionic.png">
      
      <h2 class="fontcsize">[News]</h2> 
        <p class="fontcsize">NameNews</p>
        <i class="icon ion-ios-arrow-right" ng-click="gotoNews()"></i>
  </a>
   


</div>
      
      </ion-content></ion-scroll>
    
</ion-modal-view>
