   <ion-modal-view>
   <div class="bar bar-header bar-light">
             <button class="button ion-ios-arrow-back fontsize"ng-click="gotoProfile()"></button>
              <h1 class="title fontcsize">QR Code</h1>
           
           
  
</div>
<ion-scroll zooming="false" direction="y" style="width: auto; height: 500px">
  <ion-content>
    <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
<img src="img/QRCode.png"width="100%">
        <button class="button button-block button-positive"  ng-click="gotoHome()">
 Home
</button>
           </ion-content>
          </ion-scroll>
    
</ion-modal-view>