<ion-modal-view>
  <div class="bar bar-header bar-light">
            <button class="button ion-ios-arrow-back fontsize"ng-click="gotoHome()"></button>
              <h1 class="title fontcsize">Recevier</h1>
           
  
</div>
<ion-scroll zooming="false" direction="y" style="width: auto; height: 500px">
  <ion-content>
      <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
 <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
     <div class="row">
       <div class="col col-100">
       </div>
     </div>
<img src="img/QRCode.png"width="100%">
         </ion-content>
          </ion-scroll>
    
</ion-modal-view>